<div class="container">
  <h1><%= @task.title %></h1>
  <p><%= check_box("tag", tag.id, {checked: @task.completed}) %> <%= @task.completed ? "Good, task completed" : "This task is not completed yet" %><p>
  <p><%= @task.details %></p>
  <div class="d-flex">
    <p><%= link_to 'Editar', edit_task_path, class: 'btn btn-warning m-2' %></p>

    <p><%= link_to 'Apagar', task_path(@task), method: :delete, data: { confirm: "Tem certeza?" }, class: 'btn btn-danger m-2' %></p>

    <p><%= link_to 'Voltar', tasks_path, class: 'btn btn-primary m-2' %></p>
  </div>
</div>
